---
---
$primary: orangered;

@import 'bootstrap/bootstrap.scss';

html body {
  width: 100%;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

.carousel-caption {
  position: absolute;
  top: 30%;
  transform: translateY(-30%);
}

.carousel-caption h2 {
  font-size: 500%;
  text-shadow: 1px 1px 10px #000;
}

.carousel-caption h3 {
  font-size: 200%;
  font-weight: 500;
  text-shadow: 1px 1px 15px #000;
}

.header-separator {
  width: 50%;
  border-top: 2px solid #8c8b8b;
}

.social a {
  font-size: 3rem;
  padding: 0 3rem 0 3rem;
}

.fa-twitter {
  color: #00aced;
}

.fa-instagram {
  color: #517fa4;
}

.fa-youtube {
  color: #bb0000;
}

.fa-pinterest {
  color: #c8232c;
}

.padding {
  padding-bottom: 2rem;
}

.featured-recipe-text {
  overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 4; /* number of lines to show */
   -webkit-box-orient: vertical;
}

.card-img-overlay {
  top:80%;
}

.welcome-card {
  padding: 2rem;
  font-size: 1.2rem;
}

#logo-img {
  height: 80px;
}

@media (max-width: 767px) {
    #logo-img {
      height: 50px;
    }
    .logo-text {
      font-size: 1.125rem;
    }
    .carousel-caption {
      position: absolute;
      top: 20%;
      transform: translateY(-30%);
    }
    
    .carousel-caption h2 {
      font-size: 300%;
      text-shadow: 1px 1px 10px #000;
    }
    
    .carousel-caption h3 {
      font-size: 150%;
      font-weight: 500;
      text-shadow: 1px 1px 15px #000;
    }
    .carousel-caption p {
      font-size: 100%;
    }
}

.post-list {
  list-style-position: inside;
  padding-left: 0;
}

.blog-post-meta {
    color: #999;
}

.blog-post-font-size {
    font-size: 20px;
}

.blog-post-para {
  text-align: justify;
  line-height: 175%;
}

.blog-post-steps {
  list-style-position: inside;
  padding-left: 0;
  text-align: justify;
  line-height: 175%;
}

footer {
    min-height: 100px;
    padding: 1.5rem 0;
    color: #ffff;
    text-align: center;
    vertical-align: middle;
    background-color: rgba($color: #808080, $alpha: 1.0);
}

footer p:last-child {
    margin-bottom: 0;
}

.page-title {
    min-width: 100px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.border-orangered {
  border-color: orangered;
}

.top-right-img {
  position: absolute;
  top: 8px;
  right: 8px;
}

.top-left-badge {
  position: absolute;
  top: 8px;
  left: 8px;
}

.about-content {
  font-size: 1.5rem;
}