---
layout: default
permalink: /404.html
---
<div class="d-flex p-2 text-white bg-primary justify-content-center mb-5 shadow">
  <h2 class="display-4">Page not found</h2>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h3>The requested page could not be found.</h3>
      <p><strong>Page not found <i class="far fa-frown"></i></strong></p>
      <p></p>
    </div>
    <div class="col-md-4">
      {% include categories.html %}
    </div>
  </div>  
</div>
{% include about.html %}