---
layout: default
title: Foody Indian Mom - Contact Me
description: Contact Foody Indian Mom
---
<script src="https://www.google.com/recaptcha/api.js"></script>
{% include page-heading.html content="Contact Us" %}
<div class="container">
  <div class="row">
    <div class="col-md-8">
        <h5>Please drop me an email on below address:</h5>
        <p class="lead"><i class="fas fa-envelope"></i> <a href="mailto:foodyindianmom@gmail.com">foodyindianmom@gmail.com</a></p>
        <br>
        <h5>Or, drop a comment on various platforms below:</h5>
        <ul class="list-inline">
          <li class="list-inline-item"><p class="lead"><i class="fab fa-twitter"></i> <a href="https://www.twitter.com/foodyindianmom" target="_blank">Twitter</a></p></li>
          <li class="list-inline-item"><p class="lead"><i class="fab fa-instagram"></i> <a href="https://www.instagram.com/foodyindianmom23" target="_blank">Instagram</a></p></li>
          <li class="list-inline-item"><p class="lead"><i class="fab fa-pinterest"></i> <a href="https://www.pinterest.com/foodyindianmom/" target="_blank">Pinterest</a></p></li>
          <li class="list-inline-item"><p class="lead"><i class="fab fa-youtube"></i> <a href="https://www.youtube.com/channel/UC3S8WE4quVzkx_CtnoU96dQ/videos" target="_blank">YouTube</a></p></li>
        </ul>
    </div>
    <div class="col-md-4">
      {% include categories.html %}
    </div>
  </div>  
</div>
{% include about.html %}
