---
layout: default
title: Foody Indian Mom - Privacy Policy
description: Privacy Policy for Foody Indian Mom website
permalink: /privacy.html
---
<div class="d-flex p-2 text-white bg-orangered justify-content-center mb-5 shadow">
    <h1>Privacy Policy</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <p class="text-justify" style="line-height: 175%;">
                As the owner of foodyindianmom.com (the “Site”), “we” understand that your privacy is of critical importance. This Privacy Policy describes what information we collect from you via the Site and how we use and disclose such information.
            </p>
            <h4>Our Use of Cookies</h4>
            <p class="text-justify" style="line-height: 175%;">
                A cookie is a file containing an identifier (a string of letters and numbers) that is sent by a web server to a web browser and is stored by the browser. The identifier is then sent back to the server each time the browser requests a page from the server. Cookies may be either “persistent” cookies or “session” cookies: a persistent cookie will be stored by a web browser and will remain valid until its set expiry date, unless deleted by the user before the expiry date; a session cookie, on the other hand, will expire at the end of the user session, when the web browser is closed. Cookies do not typically contain any information that personally identifies a user, but personal information that we store about you may be linked to the information stored in and obtained from cookies. We use cookies for the following purposes:
                <ol type="a">
                    <li>authentication – we use cookies to identify you when you visit our website and as you navigate our website;</li>
                    <li>status – we use cookies to help us to determine if you are logged into our website;</li>
                    <li>personalization – we use cookies to store information about your preferences and to personalize the website for you;</li>
                    <li>security – we use cookies as an element of the security measures used to protect user accounts, including preventing fraudulent use of login credentials, and to protect our website and services generally;</li>
                    <li>advertising – we use cookies to help us to display advertisements that will be relevant to you; and</li>
                    <li>analysis – we use cookies to help us to analyze the use and performance of our website and services;</li>
                </ol>
            </p>
            <p class="text-justify" style="line-height: 175%;">
                We use Google Analytics to analyze the use of our website. Google Analytics gathers information about website use by means of cookies. The information gathered relating to our website is used to create reports about the use of our website. Google’s privacy policy is available at:<br>
                <a href="https://www.google.com/policies/privacy/">https://www.google.com/policies/privacy/</a>
            </p>
            <p class="text-justify" style="line-height: 175%;">
                Google Analytics Demographics and Interest Reporting is in use on this website. Collected aggregate data (such as age, gender and interests) is used to guide content in order to better serve visitors. It may also be cited in media kits and referenced in discussion with potential partnerships. Since we take your privacy seriously, our Google Analytics set-up anonymizes IP addresses.
            </p>
            <p class="text-justify" style="line-height: 175%;">
                Most browsers allow you to refuse to accept cookies and to delete cookies. The methods for doing so vary from browser to browser, and from version to version. You can however obtain up-to-date information about blocking and deleting cookies via these links:
                <ol type="a">
                    <li><a href="https://support.google.com/chrome/answer/95647?hl=en">https://support.google.com/chrome/answer/95647?hl=en</a> (Chrome);</li>
                    <li><a href="https://support.mozilla.org/en-US/kb/enable-and-disable-cookies-website-preferences">https://support.mozilla.org/en-US/kb/enable-and-disable-cookies-website-preferences</a> (Firefox);</li>
                    <li><a href="http://www.opera.com/help/tutorials/security/cookies/">http://www.opera.com/help/tutorials/security/cookies/</a> (Opera);</li>
                    <li><a href="https://support.microsoft.com/en-gb/help/17442/windows-internet-explorer-delete-manage-cookies">https://support.microsoft.com/en-gb/help/17442/windows-internet-explorer-delete-manage-cookies</a> (Internet Explorer);</li>
                    <li><a href="https://support.apple.com/kb/PH21411">https://support.apple.com/kb/PH21411</a> (Safari); and</li>
                    <li><a href="https://privacy.microsoft.com/en-us/windows-10-microsoft-edge-and-privacy">https://privacy.microsoft.com/en-us/windows-10-microsoft-edge-and-privacy</a> (Microsoft Edge.</li>
                </ol>
            </p>
            <p class="text-justify" style="line-height: 175%;">
                Please note that blocking cookies may have a negative impact on the functions of many websites, including our Site. Some features of the Site may cease to be available to you.
            </p>
            <h4>Email Address</h4>
            <p class="text-justify" style="line-height: 175%;">
                We may collect your email address, but only if you voluntarily provide it to us. This may occur, for example, if you sign up to receive an email newsletter, leave a comment, or enter a promotion. We will use your email address for the purposes for which you provided it to us. You may opt out of such email communications at any time by clicking the “unsubscribe” button in the email.
            </p>
            <p class="text-justify" style="line-height: 175%;">
                For instance, if you sign up for our newsletter, you will receive notification of new blog posts, roundups, special updates, and occasional news regarding the Site or other brand-related products or services that we believe may be of interest to you.
            </p>
            <h4>Contacting Us</h4>
            <p class="text-justify" style="line-height: 175%;">
                If you have any questions about this Privacy Policy, or the practices of this Site, please fill in the contact me page and send in your query.
            </p>
        </div>
        <div class="col-md-4">
            {% include contact-me.html %}
            {% include about.html %}
            {% include categories.html %}
            {% include video-list.html %}
        </div>
    </div>
</div>