---
layout: default
title: Search
permalink: /search.html
---
{% include page-heading.html content="Search" %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <script async src="https://cse.google.com/cse.js?cx=008735183854720213579:zxl9r6y74iw"></script>
            <div class="gcse-search"></div>
            <br>
        </div>
        <div class="col-md-4">
            {% include categories.html %}
        </div>
    </div>
    <br>
</div>
{% include about.html %}