---
layout: default
title: Foody Indian Mom - Terms & Conditions
description: Terms and Conditions for Foody Indian Mom website
permalink: /terms.html
---
<div class="d-flex p-2 text-white bg-orangered justify-content-center mb-5 shadow">
    <h1>Terms and Conditions</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <p class="text-justify" style="line-height: 175%;">
                Thank you for your interest. Please keep in mind that my content is copyrighted material and I’ve worked very hard to produce it.
            </p>
            <h4>Photo Usage</h4>
            <p class="text-justify" style="line-height: 175%;">
                <b>Using my photo to promote my recipe or my blog in general:</b>
                You are welcome to share one photo as long as you prominently link back to the original post. Please do not share more than one image from a post without my explicit permission (email me). Note that you may not republish the recipe itself. Thank you for promoting my work!
            </p>
            <p class="text-justify" style="line-height: 175%;">
                <b>Using my photo to promote something else:</b>
                You must request permission beforehand. I do not allow my photos to be used as clip art/stock images unless we’ve negotiated compensation and licensing details.
            </p>
            <h4>Recipe Usage</h4>
            <p class="text-justify" style="line-height: 175%;">
                <b>You may not republish my recipe(s).</b>
                I don’t allow other websites or publications to publish my recipes. I simply receive far too many requests, and I want cookieandkate.com to remain the exclusive source for my recipes. Again, my recipes are copyrighted material and may not be published elsewhere.
            </p>
            <h4>Content Syndication</h4>
            <p class="text-justify" style="line-height: 175%;">
                <b>I don’t allow my recipes or posts to be syndicated.</b>
                No exceptions. Thank you for your understanding. There is no need to contact me for confirmation of the permissions presented on this page. For questions that are not answered above, please fill in the contact me page and send in your query.
            </p>
        </div>
        <div class="col-md-4">
            {% include contact-me.html %}
            {% include about.html %}
            {% include categories.html %}
            {% include video-list.html %}
        </div>
    </div>
</div>