---
layout: default
title: Foody Indian Mom - Indian Cuisine Recipe Videos
description: Indian Cuisine video tutorial
permalink: /videos.html
---
{% include page-heading.html content="Videos" %}
<div class="container-fluid">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
        {% for post in site.categories.All %}
        {% if post.video %}
        <div class="col mb-4">
            <div class="card h-100">
                <div class="card h-100">
                    <iframe width="100%" height="300" src="{{ post.video }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <div class="card-img-overlay text-white text-center">
                        <h5 class="card-title" style="background: rgba(255,69,0,0.75);">{{ post.short_title }}</h5>
                    </div>
                    <a href="{{ post.url }}#video" class="stretched-link"></a>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% include about.html %}