 <!--googleoff: index-->
 <div class="container padding pt-5">
    <div class="row padding text-center justify-content-between align-items-center">
      <div class="col-12">
        <h2 class="display-4">Our Philosophy</h2>
        <hr class="header-separator mb-5">
      </div>
      <div class="col-md-12 col-lg-6">
        <p class="about-content">
          Foody Indian Mom is an expression of love and an attempt to share our love for Indian cuisine with all of you.
        </p>
        <p class="about-content">
          Our mission is to share food recipes from all parts of India and hopefully get you also to fall in love with Indian cuisine.
        </p>
      </div>
      <div class="col-md-12 col-lg-6">
          <img src="../images/Logo.png" class="img-fluid">
      </div>      
    </div>
  </div>
  <!--googleon: index-->