<div class="px-4 mb-2">
    <h5 class="font-weight-bold">Connect with me on</h5>
    <div class="text-center">
        <a href="https://www.twitter.com/foodyindianmom" target="_blank"><i class="fab fa-twitter fa-2x" style="color: orangered;"></i></a>
        <a href="https://www.instagram.com/foodyindianmom23" target="_blank"><i class="fab fa-instagram fa-2x" style="color: orangered;"></i></a>
        <a href="https://www.youtube.com/channel/UC3S8WE4quVzkx_CtnoU96dQ/videos" target="_blank"><i class="fab fa-youtube fa-2x" style="color: orangered;"></i></a>
        <a href="#" target="_blank"><i class="fab fa-pinterest fa-2x" style="color: orangered;"></i></a>
    </div>
</div>