<!--googleoff: index-->
<div class="container-fluid padding">
  <div class="row text-center padding">
    <div class="col-12">
      <h2 class="display-4">Connect</h2>
      <hr class="header-separator mb-5">
    </div>
    <div class="col-12 social">
      <a href="https://www.twitter.com/foodyindianmom" target="_blank"><i class="fab fa-twitter fa-1x"></i></a>
      <a href="https://www.instagram.com/foodyindianmom23" target="_blank"><i class="fab fa-instagram fa-1x"></i></a>
      <a href="https://www.youtube.com/channel/UC3S8WE4quVzkx_CtnoU96dQ/videos" target="_blank"><i class="fab fa-youtube fa-1x"></i></a>
      <a href="https://www.pinterest.com/foodyindianmom/" target="_blank"><i class="fab fa-pinterest fa-1x"></i></a>
      <a href="#" target="_blank"><i class="fa fa-rss fa-1x"></i></a>
    </div>      
  </div>   
</div>
<!--googleon: index-->