<header>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link text-light" href="https://www.twitter.com/foodyindianmom" target="_blank"><i class="fab fa-twitter fa-1x"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="https://www.instagram.com/foodyindianmom23" target="_blank"><i class="fab fa-instagram fa-1x"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="https://www.youtube.com/channel/UC3S8WE4quVzkx_CtnoU96dQ/videos" target="_blank"><i class="fab fa-youtube fa-1x"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="#" target="_blank"><i class="fab fa-pinterest fa-1x"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="#" target="_blank"><i class="fa fa-rss fa-1x"></i></a>
          </li>
        </ul>
      </div>
    </div>   
  </div>
</header>