<div class="d-flex p-2 text-white bg-orangered justify-content-center mb-5 shadow">
    <div class="container welcome-card">
        <div class="row">
            <div class="col-12 col-md text-center">
                <h2 class="card-title mb-3"><i class="fas fa-praying-hands"></i> Welcome to Foody Indian Mom</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-md pl-4">
                <p class="card-text">Authentic Cuisines from all over India</p>
                <p class="card-text">Healthy ingredients</p>
                <p class="card-text">Simple and easy to follow recipes</p>
            </div>
            <div class="col-6 col-md">
                <p class="card-text">Recipe videos available</p>
                <p class="card-text">Homemade dishes for all occasions</p>
                <p class="card-text">Connect with me on 
                    <a href="https://www.instagram.com/foodyindianmom23" target="_blank" class="text-white"><i
                            class="fab fa-instagram fa-1x"></i></a>
                    <a href="https://www.twitter.com/foodyindianmom" target="_blank"
                        class="text-white"><i class="fab fa-twitter fa-1x"></i></a>
                    <a href="https://www.youtube.com/channel/UC3S8WE4quVzkx_CtnoU96dQ/videos" target="_blank"
                        class="text-white"><i class="fab fa-youtube fa-1x"></i></a>
                    <a href="#" target="_blank"
                        class="text-white"><i class="fab fa-pinterest fa-1x"></i></a>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container mb-5">
    <div class="divider"></div>
    <h3>Favorite Recipes</h3>
        <div class="row no-gutters">            
            <div class="card-deck">
                <div class="card border-orangered">
                    <img src="../images/kadhai_paneer.jpg" class="card-img-top" alt="..." style="max-height: 400px;">
                    <div class="card-body px-5">
                        <div class="d-flex justify-content-between align-items-center">
                            <h4 class="card-title">Kadhai Paneer</h4>
                            <a href="/kadhai_paneer" class="btn btn-primary btn-sm">Recipe</a>
                        </div>
                        <p class="card-text"><i class="far fa-check-circle"></i> Yummy and healthy vegetarian curry</p>
                        <p class="card-text"><i class="far fa-check-circle"></i> Goes well with Roti / Naan / Rice</p>
                        <p class="card-text"><i class="far fa-check-circle"></i> Watch video <a href="https://www.youtube.com/embed/HHa0K8cYxlY" target="_blank"><i class="fas fa-external-link-alt"></i></a></p>
                    </div>
                </div>
                <div class="card border-orangered">
                    <img src="../images/punjabi_chicken.png" class="card-img-top" alt="..." style="max-height: 400px;">
                    <div class="card-body px-5">
                        <div class="d-flex justify-content-between align-items-center">
                            <h4 class="card-title">Punjabi Chicken Curry</h4>
                            <a href="/punjabi_chicken_curry" class="btn btn-primary btn-sm">Recipe</a>
                        </div>
                        <p class="card-text"><i class="far fa-check-circle"></i> Mouthwatering and delicious</p>
                        <p class="card-text"><i class="far fa-check-circle"></i> Simple and easy to make</p>
                        <p class="card-text"><i class="far fa-check-circle"></i> YouTube video available <a href="https://www.youtube.com/watch?v=8q6ItwXCEDY" target="_blank"><i class="fas fa-external-link-alt"></i></a></p>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>