<div class="container-fluid padding">
    <div class="row welcome">
        <div class="col-12 text-center">
            <h1>Featured Recipes</h1>
            <hr class="header-separator mb-5">
        </div>
    </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-4">
        {% for post in site.posts%}
        {% if post.featured == true %}
        <div class="col sm-6 md-6 lg-3 mb-3">
            <div class="card border-orangered">
                <img src="{{ post.imagePath }}" class="card-img-top" alt="..." style="max-height: 400px;">
                <img src="{{ post.type }}" alt="" class="top-right-img" height="15px">
                <div class="card-body">
                    <h4 class="card-title">{{post.short_title}}</h4>
                    <a href="{{site.baseurl}}/{{post.categories.last|downcase}}.html"><h6 class="card-subtitle mb-2">{{ post.categories.last }}</h6></a>
                    <p class="card-text featured-recipe-text">{{ post.excerpt }}</p>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-between align-items-center m-0">
                        <a href="{{ site.baseurl }}{{ post.url }}#video" class="btn btn-outline-primary btn-sm">Video</a>
                        <a href="{{ site.baseurl }}{{ post.url }}" class="btn btn-primary btn-sm">Recipe</a>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>