<div class="d-flex p-2 text-white bg-orangered justify-content-center mb-5 shadow">
    <div class="container welcome-card">
        <div class="row">
            <div class="col-12 col-md text-center">
                <h2 class="card-title mb-3"><i class="fas fa-praying-hands"></i> Welcome to Foody Indian Mom</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-md pl-4">
                <p class="card-text">Authentic Cuisines from all over India</p>
                <p class="card-text">Healthy ingredients</p>
                <p class="card-text">Simple and easy to follow recipes</p>
            </div>
            <div class="col-6 col-md">
                <p class="card-text">Step by step videos available</p>
                <p class="card-text">Homemade dishes for all occasions</p>
                <p class="card-text">Connect with me on <a href="https://www.twitter.com/foodyindianmom" target="_blank"
                        class="text-white"><i class="fab fa-twitter fa-1x"></i></a>
                    <a href="https://www.instagram.com/foodyindianmom23" target="_blank" class="text-white"><i
                            class="fab fa-instagram fa-1x"></i></a>
                    <a href="https://www.youtube.com/channel/UC3S8WE4quVzkx_CtnoU96dQ/videos" target="_blank"
                        class="text-white"><i class="fab fa-youtube fa-1x"></i></a></p>
            </div>
        </div>
    </div>
</div>
<div class="container mb-5">
        <div class="row no-gutters">
            <div class="card-deck">
                <div class="card border-orangered">
                    <img src="../images/IMG-8.jpg" class="card-img-top" alt="...">
                    <div class="card-body px-5">
                        <h4 class="card-title">Delicious Appam</h4>
                        <p class="card-text"><i class="far fa-check-circle"></i> Easy to make</p>
                        <p class="card-text"><i class="far fa-check-circle"></i> Step by step video tutorial</p>
                        <p class="card-text"><i class="far fa-check-circle"></i> Healthy ingredients</p>
                        <p class="card-text"><i class="far fa-check-circle"></i> Time constraints, no worries</p>
                    </div>
                </div>
                <div class="card border-orangered">
                    <img src="../images/IMG-10.jpg" class="card-img-top" alt="...">
                    <div class="card-body px-5">
                        <h4 class="card-title">All-rounder Carrot Raita</h4>
                        <p class="card-text"><i class="far fa-check-circle"></i> Quick and easy</p>
                        <p class="card-text"><i class="far fa-check-circle"></i> Suits both lunch or dinner</p>
                        <p class="card-text"><i class="far fa-check-circle"></i> Keeps stomach happy after heavy meal</p>
                        <p class="card-text"><i class="far fa-check-circle"></i> Goes well with curries and rice</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>