---
layout: default
---
<div class="d-flex p-2 text-white bg-orangered justify-content-center mb-5 shadow">
    <h1>{{ page.title }}</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="d-flex justify-content-between align-items-center m-0">
                <img src="{{ page.type }}" height="25px">
                <div><i class="fas fa-tag"></i><small> {{ page.categories.last }} </small> <!--&bull; <i class="far fa-calendar-check"></i><small> {{ page.date | date: "%B %-d, %Y" }}</small>--></div>
            </div>
            {% if post %}
            {% assign categories = post.categories %}
            {% else %}
            {% assign categories = page.categories %}
            {% endif %}
            {{ content }}
            {% if post %}
            {% assign tags = post.tags %}
            {% else %}
            {% assign tags = page.tags %}
            {% endif %}
            <h5>Tags</h5><span>
            {% for tag in tags %}
            <a href="#" class="badge badge-primary">{{ tag }}</a>
            {% endfor %}</span>
        </div>
        <div class="col-md-4">
            {% include contact-me.html %}
            {% include about.html %}
            {% include categories.html %}
            {% include video-list.html %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {% include share-bar.html %}
        </div>
    </div>
    <br>
</div>